
	<!-- ng-click='action()(god, $event) -->
	
		<god type="button" ng-repeat="god in godList | filter: {God: search.text} | orderBy: search.order" ng-class='side'>
		
			<div class="god-popover"  ng-controller="PopoverCtrl" ng-mouseenter='showPopover(god, $event, side)' ng-mouseout='hidePopover()'>
				<div class='god-minimal'>
					<h3>{{god.God}}</h3>
					<ul class="list-group">
					  <li>{{god.Class}}</li>
					  <li>{{god.Type}}</li>
					  <li ng-repeat="pro in god.Pros">{{pro}}</li>
					</ul>
				</div>		
			</div>
		</god>

