body{
  background-image: url("/static/background.jpg");
  height: 100vh;
  position: fixed;
  font-family: 'Open Sans';
  width: 100%;
  color: #fdfcf8;
}


.flexcontainer{
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.player-half {
  width: 50%;
  display: flex;
  flex-direction: row;
}


.fighting-gods{ 
  
  width: auto;
  max-height: 70vh;  
}


.all-gods-container {
  color: black;
  width: 25%;
  display: flex;
  overflow: hidden;
  flex-direction: column;

}

.god-sorts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

input {
  margin-top: 5%;
  width: 100%;
}
  .all-gods { 
    margin-right: -20px;
    padding-right: 20px;
    height: 70vh;
    
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("/static/border.png");
    background-size: 90% 120%;
    background-position: left center;
    background-repeat: no-repeat;
  }



god-list{
  color: #fdfcf8;
  width: 100%;
  flex-direction: column;
  display:flex;
  justify-content: flex-end;
}

god {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid #b1966f;
  padding: 15px;
  cursor: pointer;
}

.god-popover {
  z-index: 5000;
  display: flex;
  flex-direction: row;
  width: auto;
}

.god-minimal {
  width:100%;

}

.popover {
  max-width: 450px;

}

.avpopover{
  background-color: grey;
  display: flex;
  flex-direction: row;
}


.list-group{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

god-filter{
  margin: 10px 0;
  border-width: 10px

  
}


.fight {
  height: 20vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  width: 100%
} 

.progress-bar-container{
  width: 80vw;
  display: none;

}


.progress-bar{
  height: 100%;
}

.progress-bar-immediate-container{
  width: 100%;
  display: inline-block;
}



.flex-column{
  display: flex;
  flex-direction: column;

}
.flex-row{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.flex-right{
  flex-direction: row-reverse;
}

.flex-left{
  flex-direction: row; 
}

ul {
  padding-right: 0px;
}
.inherit-flex{
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
}

.left{
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  
}

.right{
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 20px;
  
}

.right .god-popover {
  
  direction: rtl;
}
